/**********
For index/'home' page
**********/

body {
    font-family: sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

.main-image img{
    width: 100%;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

header .logo{
    width: 80%;
    padding: 0px 100px;
}

header .right-nav{
    width: 20%;
}

h2{
    position: relative;
    left: 69px;
    bottom: -16px;
}

.left-row-1{
    position: relative;
    left: 1%;
    top: 233px;
}

.right-row-1{
    position: absolute;
    right: 1%;
    top: 345px;

}

.drinks{
    position: relative;
}


.info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px;
    bottom: -31px;
} 

.row-1{
    position: absolute;
    width: 100%;
    height: 33%;
    top: 55px;
    padding: 10px;
    
}

.col-1{
    position: absolute;
    left: 4%;
    width: 20%;
    padding: 2%;
}

.heart{
    position: absolute;
    right: -20px;
    top: 33px;
}

p{
    position: relative;
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500;
    left: 0;
    bottom: 0px;
    padding: 5px;
}
h4{
    position: absolute;
    color: white;
    font-family: sans-serif;
    right: -44px;
    bottom: 4px;
}    

h6{
    position: absolute;
    left: 5px;
    bottom: -6px;
    font-weight: 700;
    font-size: large;
}

.add-to-cart{
    position: absolute;
    left: 127px;
}

.col-2{
    position: absolute;
    left: 27%;
    width: 20%;
    padding: 2%;
}

.col-2 h6{
    color: red;
}

.col-3{
    position: absolute;
    right: 30%;
    width: 20%;
    padding: 2%;

}

.col-4 {
    position: absolute;
    right: 7%;
    width: 20%;
    padding: 2%;
}

.row-2{
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: -46pc;
    padding: 10px;
    
}

.title-row-2{
    position: relative;
    left: 69px;
    bottom: 0px;
}

.left-row-2{
    position: relative;
    left: 1%;
    top: 233px;
}

.col-2-1{
    position: absolute;
    left: 4%;
    width: 20%;
    padding: 2%;
}

.col-2-2{
    position: absolute;
    left: 27%;
    width: 20%;
    padding: 2%;
}

.col-2-2{
    color: red;
}

.col-2-3{
    position: absolute;
    right: 30%;
    width: 20%;
    padding: 2%;

}

.heart-2{
    position: absolute;
    right: -8%;
    top: 34px;
}

.col-2-4{
    position: absolute;
    right: 7%;
    width: 20%;
    padding: 2%;
}

.right-row-2{
    position: absolute;
    right: 1%;
    top: 299px;

}