/**********
For index/'home' page
**********/

body {
    font-family: sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

/**********************************************
************************Header
****************************************************************/
header .main-image img{
    width: 100%;
}

header nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav .logo img{
    width: 150px;
    padding: 20px 30px;
}

header nav .icons {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
}
header nav .mb-menu {
    display: none;
}
/*****************************************
******Media Screen
****************************************************************/
@media only screen and (max-width:600px) {
    header nav .icons {
        display: none;
    }
    header nav .mb-menu {
        display: block;
    }
}

/****************************************
*************Main
*****************************************/

main .heading{
    padding: 2rem 3rem;
}

main .item-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 4rem;
}

main .item-container .items{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: scroll;
}

main .item-container .items .item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

main .item-container .items .item .like {
    position: absolute;
    top: 0;
    right: 0;
}

main .item-container .items .item .like img{
    padding: 1rem;
}

main .item-container .items .item .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

main .item-container .items .item .price .sale{
    color: red;
}


main .item-container .items .item .price button{
    padding: 0.5rem 1rem;
    border: 0;
    background-color: green;
    color: #FFF;
}
::-webkit-scrollbar {
    display: none; 
}
/**********************************
********Media Screen
****************************************/
@media only screen and (max-width:600px) {
    main .item-container {
        margin: 2rem 1rem;
    }
    main .item-container .items .item img {
        width: 10rem;
    }
    main .item-container .items .item .like img {
        width: 4rem;
    }
    main .item-container .items .item .price button {
        font-size: 0.5rem;
    }
}
/**********************************
***********Footer
*******************************************/
footer .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
:where(.slogan,.contact) {
    text-align:center;
}
footer .about-us .contact span {
    font-weight: bolder;
}
footer .about-us .contact p {
    font-weight: 600;
}
footer .copyright {
    text-align: center;
    border-top: 0.1rem solid #EBEBEB;
    color: #aeaeae;
    padding: 1rem 0rem;
}

/***********************************
********Sign In/Sign Up
*********************************************/
.sign-in {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(220,220,220,0.4);
    width: 100%;
    height: 43rem;
}
.sign-in .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0rem;
}
.sign-in .form-container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFF;
    padding: 2rem 3rem;
    position: relative;
    width: 25%;
}
.sign-in .form-container .form .close {
    position: absolute;
    top: 0;
    right: 0;
}
.sign-in .form-container .form .close img {
    padding: 0.5rem;
}
.sign-in .form-container .form .inputs {
    width: 100%;
}
.sign-in .form-container .form .inputs input {
 padding: 1rem 1rem;
 width: 90%;
 border-radius: 1.5rem;
 margin-bottom: 1rem;
 border: 1px solid #aeaeae;
}
.sign-in .form-container .form .inputs .password {
    position: relative;
}
.sign-in .form-container .form .inputs .password img {
    position: absolute;
    right: 0.5rem;
    top: 1.1rem;
}
.sign-in .form-container .form .forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sign-in .form-container .form .forgot-password .checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.sign-in .form-container .form .btn {
    width: 100%;
}
.sign-in .form-container .form .btn button {
    background-color: #FF6C00;
    border: 0;
    padding: 1rem 2rem;
    width: 100%;
    border: 0;
    color: #fff;
    border-radius: 2rem;
    font-weight: bolder;
}
.sign-in .form-container .form .sign-up-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sign-in .form-container .form .forgot-password a{
    color: #808080;
    text-decoration: none;
}

.sign-in .form-container .form .sign-up-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sign-in .form-container .sign-up-link a{
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.sign-in .form-container .sign-up-link a.sign-up{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

/**************************
*********media screen
**********************************************/

@media only screen and (max-width: 600px){
    .sign-in .form-container .form{
        width: 80%;
        padding: 1rem;
    }
}
/***************************************
***********Cart
*****************************************/
.cart-nav {
    border-bottom: 1px solid #808080;
}
.cart-nav .logo img {
    width: 100px;
    padding: 0;
}
.cart{
    margin: 4rem 2rem;
}
.cart table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem 0rem;
}
.cart table th {
    color: #c1c1c1;
    font-size: 0.7rem;
    font-weight: bolder;
    text-align: start;
    padding-bottom: 1rem;
}
.cart table tr {
    text-align: start;
    padding-bottom: 2rem;
}
.cart table tr td {
    font-weight: bolder;
    padding-bottom: 2rem;
}
.cart table  tr td .product {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.cart table  tr td .product img {
    width: 5rem;
    border: 1px solid #000;
    border-radius: 50%;
}
.cart table tr td button {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #808080;
    border-radius: 1rem;
}
.cart table tr td button span {
    padding: 0rem 0.3rem;
}

.cart .table-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15rem;
}
.cart .table-footer .sub-total {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.cart .table-footer .sub-total span {
    font-weight: bolder;
}
.cart .table-footer .btns {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.cart .table-footer .btns button.shopping  {
    background-color: #fff;
    border: 1px solid #808080;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.cart .table-footer .btns button.next-step{
    background-color: #FF6C00;
    color: #FFF;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}