/**********
For index/'home' page
**********/

body {
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    overflow-y: scroll;
}

.main-image img{
    width: 100%;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

header .logo{
    width: 80%;
    padding: 0px 100px;
}

header .right-nav{
    width: 20%;
}


.drinks{
    position: relative;
}


.info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px;
    bottom: -31px;
} 

.row-1{
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    
}

.col-1{
    position: absolute;
    left: 0;
    width: 25%;
    padding: 2%;
}
.heart{
    position: absolute;
    right: 47px;
    top: 33px;
}

p{
    position: relative;
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500;
    left: 0;
    bottom: 0px;
    padding: 5px;
}
h4{
    position: absolute;
    color: white;
    font-family: sans-serif;
    right: 20px;
    bottom: 4px;
}    

h6{
    position: absolute;
    left: 5px;
    bottom: -6px;
    font-weight: 700;
    font-size: large;
}

.add-to-cart{
    position: absolute;
    right: 10px;
}

.col-2{
    position: absolute;
    left: 25%;
    width: 25%;
    padding: 2%;
}

/* .col-2 p{
    position: relative;
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500;
    left: 0;
    bottom: 0px;
    padding: 5px;
} */

.col-2 h6{
    color: red;
}

/* .col-2 h4{
    position: absolute;
    color: white;
    font-family: sans-serif;
    right: 20px;
    bottom: 4px;
}  */

.col-3{
    position: absolute;
    width: 25%;
    padding: 2%;
}

.col-4 {
    position: absolute;
    width: 25%;
    padding: 2%;
}